.sliderHome{
    overflow: inherit !important;
}

    .swiper-button-next,.swiper-button-prev{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-radius: 50%;
        box-shadow: 0 1px 3px #0000001f , 0 1px 2px #0000003d !important;
    }

    .swiper-button-prev .swiper-navigation-icon{
        width: 24px;
        height:24px;
        color: black;
    }
    .swiper-button-next .swiper-navigation-icon{
        width: 24px;
        height:24px;
        color:black
    }